{% extends 'base.html.twig' %}

{% block title %}Valider ma commande!{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande sur Ma Boutique.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Choisir mon adresse de livraison</b> <br />
            {% set formHtml %}
                {{ form(form) }}
            {% endset %}

            <!-- Remplacement du tableau [br] par des véritables sauts de lignes --->
            {{ formHtml|replace({'[br]' : '<br />'})|raw }}

        </div>
        <div class="col-md-6">
            <b>Récapitulatif de ma commande</b> <br />
            <b>Bouton pour payer</b>
        </div>
    </div>
{% endblock %}
